
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="add.css"/>
  </head>
  <body>
    <!-- codes for arenda bez vadetelya-->
    <form>
      <div class="container-fluid section3">
        <div class="container">
          <div class="section_wrapper">
            <div class="section_wrapper__left">
              <div class="section_wrapper__left">
                <form>
                  <div class="form1">
                    <select class="form-control">
                      <option>Город аренды</option>
                      <option>Город аренды</option>
                      <option>Город аренды</option>
					</select>
					<label class="form-lable">
						<p>in</p>
						<input type="date"/>
					</label>
					<label class="form-lable">
						<p>time:</p>
						<select class="form-control" id="time">
							<option>15:00     </option>
							<option>14:00     </option>
							<option>11:00</option>
						</select>
					</label>
                  </div>
                  <div class="form1">
                    <select class="form-control">
                      <option>Город сдачи машины</option>
                      <option>Город сдачи машины</option>
                      <option>Город сдачи машины</option>
					</select>
					<label class="form-lable">
						<p>out:</p>
						<input type="date"/>
					</label>
					<label class="form-lable">
						<p>time</p>
						<select class="form-control" id="time">
							<option>15:00     </option>
							<option>14:00     </option>
							<option>11:00</option>
 						</select>
					</label>
                  </div>
                  <div class="add_label">
                    <label for="kresla">Добавить детские кресла:<span>0<i>usd</i></span></label>
                    <input type="text" placeholder="0" id="kresla"/>
                  </div>
                </form>
              </div>
            </div>
            <div class="section_wrapper__right">
              <div class="section_wrapper__right--text">
                <p>Дата:  <span>24.01.2019</span></p>
                <p>Время: <span>15:00</span></p>
                <p>Город: <span> Tashkent</span></p>
                <p>Тип авто: <span>Автобусы</span></p>
                <p>Арендованных мест:<span> 12</span></p>
                <p class="itogo">ИТОГО: <span>285</span><i> usd</i></p>
              </div>
              <div class="section_wrapper__right--link"><a href="#display_none2" class="bronlink2">Далее  </a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid section4">
        <div class="container">
          <div class="personal_danni">
            <div class="personal_danni--text">
              <p>Введите ваши персональные данные</p>
            </div>
            <div class="personal_danni--form">
              <form></form>
              <div class="personal_danni--form--top"> 
                <input class="form-control" type="text" placeholder="Ваше имя"/>
                <input class="form-control" type="text" placeholder="Фамилия"/>
                <input class="form-control" type="text" placeholder="Возраст"/>
              </div>
              <div class="personal_danni--form--top">
                <input class="form-control" type="text" placeholder="Номер телефона"/>
                <input class="form-control" type="email" placeholder="E-mail"/>
              </div>
              <div class="personal_danni--form--top">                    
                <input class="form-control" type="text" placeholder="Ваша страна, город"/>
              </div>
            </div>
            <div class="personal_danni--link">
              <p>Вы согласны с Условием аренды?</p><a href="#">Оформить</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- arenda bez vadetelya the end-->
    <!-- codes for transfer-->
    <form>
      <div class="container-fluid section3">
        <div class="container">
          <div class="section_wrapper">
            <div class="section_wrapper__left">
              <div class="section_wrapper__left">
                <form>
                  <div class="form1">
                    <select class="form-control">
                      <option>Город прилета или аренды</option>
                      <option>Город прилета или аренды</option>
                      <option>Город прилета или аренды</option>
					</select>
					<label class="form-lable">
						<p>in:</p>
						<input type="date"/>
					</label>
					<label class="form-lable">
							<p>time</p>
						<select class="form-control" id="time">
						<option>15:00     </option>
						<option>14:00     </option>
						<option>11:00</option>
						</select>
					</label>
                  </div>
                  <div class="form1">
                    <select class="form-control">
                      <option>Куда хотите отправиться</option>
                      <option>Куда хотите отправиться</option>
                      <option>Куда хотите отправиться</option>
					</select>
					<label  class="form-lable">
						<p>out:</p>
						<input type="date"/>
					</label>
					<label class="form-lable">
						<p>time</p>
						<select class="form-control" id="time">
							<option>15:00     </option>
							<option>14:00     </option>
							<option>11:00</option>
						</select>
					</label>
                    
                  </div>
                  <div class="add_label">
                    <label for="kresla">Добавить детские кресла:<span>0<i>usd</i></span></label>
                    <input type="text" placeholder="0" id="kresla"/>
                  </div>
                </form>
              </div>
            </div>
            <div class="section_wrapper__right">
              <div class="section_wrapper__right--text">
                <p>Дата:  <span>24.01.2019</span></p>
                <p>Время: <span>15:00</span></p>
                <p>Город: <span> Tashkent</span></p>
                <p>Тип авто: <span>Автобусы</span></p>
                <p>Арендованных мест:<span> 12</span></p>
                <p class="itogo">ИТОГО: <span>285</span><i> usd</i></p>
              </div>
              <div class="section_wrapper__right--link"><a href="#">Далее </a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid section4">
        <div class="container">
          <div class="personal_danni">
            <div class="personal_danni--text">
              <p>Введите ваши персональные данные</p>
            </div>
            <div class="personal_danni--form">
              <form></form>
              <div class="personal_danni--form--top"> 
                <input class="form-control" type="text" placeholder="Ваше имя"/>
                <input class="form-control" type="text" placeholder="Фамилия"/>
                <input class="form-control" type="text" placeholder="Возраст"/>
              </div>
              <div class="personal_danni--form--top">
                <input class="form-control" type="text" placeholder="Номер телефона"/>
                <input class="form-control" type="email" placeholder="E-mail"/>
              </div>
              <div class="personal_danni--form--top">                    
                <input class="form-control" type="text" placeholder="Ваша страна, город"/>
              </div>
            </div>
            <div class="personal_danni--link">
              <p>Вы согласны с Условием аренды?</p><a href="#">Оформить</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- transfer the end-->
    <!-- codes for gida cars-->
    <form>
      <div class="container-fluid section3">
        <div class="container">
          <div class="section_wrapper">
            <div class="section_wrapper__left">
              <div class="section_wrapper__left">
                <form>
                  <div class="form1">
                    <select class="form-control">
                      <option>О куда?</option>
                      <option>О куда?</option>
                      <option>О куда?</option>
					</select>
					<label class="form-lable">
						<p>in:</p>
						<input type="date"/>
					</label>
					<label class="form-lable">
							<p>time</p>
							<select class="form-control" id="time">
							<option>15:00     </option>
							<option>14:00     </option>
							<option>11:00</option>
							</select>
					</label>
                  </div>
                  <div class="form1">
                    <select class="form-control">
                      <option>Куда?</option>
                      <option>Куда?</option>
                      <option>Куда?</option>
					</select>
					<label class="form-lable">
						<p>out:</p>
						<input type="date"/>
					</label>
					<label class="form-lable">
							<p>time</p>
							<select class="form-control" id="time">
								<option>15:00     </option>
								<option>14:00     </option>
								<option>11:00</option>
							</select>
					</label>
                  </div>
                  <div class="add_label add_yazik">
                    <label for="kresla">Добавить детские кресла:<span>0<i>usd</i></span></label>
                    <input type="text" placeholder="0" id="kresla"/>
                    <select class="yazik_gida form-control">
                      <option>Язык гида</option>
                      <option>Язык гида</option>
                      <option>Язык гида</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
            <div class="section_wrapper__right">
              <div class="section_wrapper__right--text">
                <p>Дата:  <span>24.01.2019</span></p>
                <p>Время: <span>15:00</span></p>
                <p>Город: <span> Tashkent</span></p>
                <p>Тип авто: <span>Автобусы</span></p>
                <p>Арендованных мест:<span> 12</span></p>
                <p class="itogo">ИТОГО: <span>285</span><i> usd</i></p>
              </div>
              <div class="section_wrapper__right--link"><a href="#">Далее </a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid section4">
        <div class="container">
          <div class="personal_danni">
            <div class="personal_danni--text">
              <p>Введите ваши персональные данные</p>
            </div>
            <div class="personal_danni--form">
              <form></form>
              <div class="personal_danni--form--top"> 
                <input class="form-control" type="text" placeholder="Ваше имя"/>
                <input class="form-control" type="text" placeholder="Фамилия"/>
                <input class="form-control" type="text" placeholder="Возраст"/>
              </div>
              <div class="personal_danni--form--top">
                <input class="form-control" type="text" placeholder="Номер телефона"/>
                <input class="form-control" type="email" placeholder="E-mail"/>
              </div>
              <div class="personal_danni--form--top">                    
                <input class="form-control" type="text" placeholder="Ваша страна, город"/>
              </div>
            </div>
            <div class="personal_danni--link">
              <p>Вы согласны с Условием аренды?</p><a href="#">Оформить</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- gida cars the end-->
    <!-- codes for kortedj-->
    <form>
      <div class="container-fluid section3">
        <div class="container">
          <div class="section_wrapper">
            <div class="section_wrapper__left">
              <div class="section_wrapper__left">
                <form>
                  <div class="form1">
                    <select class="form-control">
                      <option>Город аренды</option>
                      <option>Город аренды</option>
                      <option>Город аренды</option>
                    </select>
                    <label for="time"  class="form-lable">
						<p>time in</p>
						<select class="form-control" id="time">
						<option>15:00     </option>
						<option>14:00     </option>
						<option>11:00</option>
						</select>
					</label>
					<label for="time" class="form-lable">
						<p>time out</p>
						<select class="form-control" id="time">
						<option>15:00     </option>
						<option>14:00     </option>
						<option>11:00</option>
						</select>
					</label>
                  </div>
                  <div class="form1 date_double">
					<label class="form-lable">
							<p>in:</p>
						<input class="form_control" type="date"/>
					</label>
					<label class="form-lable">
						<p>out:</p>
						<input class="form_control" type="date"/>
					</label>
                  </div>
                </form>
              </div>
            </div>
            <div class="section_wrapper__right">
              <div class="section_wrapper__right--text">
                <p>Дата:  <span>24.01.2019</span></p>
                <p>Время: <span>15:00</span></p>
                <p>Город: <span> Tashkent</span></p>
                <p>Тип авто: <span>Автобусы</span></p>
                <p>Арендованных мест:<span> 12</span></p>
                <p class="itogo">ИТОГО: <span>285</span><i> usd</i></p>
              </div>
              <div class="section_wrapper__right--link"><a href="#">Далее </a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid section4">
        <div class="container">
          <div class="personal_danni">
            <div class="personal_danni--text">
              <p>Введите ваши персональные данные</p>
            </div>
            <div class="personal_danni--form">
              <form></form>
              <div class="personal_danni--form--top"> 
                <input class="form-control" type="text" placeholder="Ваше имя"/>
                <input class="form-control" type="text" placeholder="Фамилия"/>
                <input class="form-control" type="text" placeholder="Возраст"/>
              </div>
              <div class="personal_danni--form--top">
                <input class="form-control" type="text" placeholder="Номер телефона"/>
                <input class="form-control" type="email" placeholder="E-mail"/>
              </div>
              <div class="personal_danni--form--top">                    
                <input class="form-control" type="text" placeholder="Ваша страна, город"/>
              </div>
            </div>
            <div class="personal_danni--link">
              <p>Вы согласны с Условием аренды?</p><a href="#">Оформить</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--  KARTEJ the end-->
  </body>
</html>